.current-chat {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    position: relative;

    &__action {
        display: flex;
        justify-content: space-around;
        gap: 16px;
        margin: -36px 0 24px;
    }

    &__list {
        height: calc(100vh - 300px);
        overflow: scroll;
    }

    &__text {
        display: flex;
        justify-content: center;
        padding: 0 0 16px;
    }

    &__user-name {
        padding: 24px;
        display: flex;
    }

    &__message {
        background-color: #F8F8F8;
        padding: 16px;
        border-radius: 15px;
        margin-bottom: 24px;
        max-width: 500px;
    }

    &__time {
        font-size: 12px;
        text-align: end;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        font-size: 12px;
        margin-right: 16px;
        background: #EFEFEF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__outgoing-messages {
        .current-chat__list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__send-message {
        display: flex;
        position: absolute;
        width: calc(100% - 32px);
        bottom: 24px;

        button {
            width: 40px;
            border-radius: 50%;
            margin: 0 0 0 16px;
        }
    }

    &__form {
        box-shadow: none;
        padding: 0;
        min-height: 1px;
        min-width: none;
        width: 100%;
        position: relative;
    }

    &__empty-chat {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 24px;
    }

}
