button.custom-button {
    background: var(--blue);
    border-radius: 8px;
    width: 100%;
    color: var(--white);
    padding: 12px;
    display: flex;
    justify-content: center;
    margin: 14px 0;
    font-size: 14px;
}