.main-page {
    margin: 28px auto;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 700px;
    }
}

li {
    display: flex;
}

h1 {
    margin-bottom: 36px;
}

.description {
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    padding-bottom: 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
}
