a {
    font-size: 14px;
    color: var(--grey);
    display: flex;
    margin: 0 auto;
    
    &:hover {
        border-bottom: 3px solid var(--grey);

        &.link-blue, &.link-red {
            border: none;
        }
    }
}

.link-blue {
    color: var(--blue);
}

.link-red {
    color: #FF0000;
}

.link-follow {

    &::after {
        content: '\203A';
        font-size: 24px;
        padding: 0 12px;
        display: flex;
        margin-top: -6px;
    }

    &:hover {
        border-bottom: none;
    }
}
