a {
    font-size: 14px;
    color: var(--gray);
    padding-bottom: 8px;
    display: flex;
    margin: 0 auto;
    
    &:hover {
        border-bottom: 3px solid var(--gray);
    }
}

.link-blue {
    color: var(--blue);
}