a {
    font-size: 14px;
    color: var(--gray);
    display: flex;
    margin: 0 auto;
    
    &:hover {
        border-bottom: 3px solid var(--gray);

        &.link-blue, &.link-red {
            border: none;
        }
    }
}

.link-blue {
    color: var(--blue);
}

.link-red {
    color: #FF0000;
}